{{ $style := site.Params.forms.style | default dict }}

{{ $container := $style.container | default "max-w-3xl mx-auto" }}
{{ $input := $style.input | default "w-full rounded-xl border border-gray-300 px-4 py-3" }}
{{ $label := $style.label | default "block text-sm font-medium mb-2 text-gray-700" }}
{{ $button := $style.button | default "btn btn-primary w-full" }}

{{ $action := .Get "action" }}
{{ $buttonText := .Get "buttonText" | default "Submit" }}

<form
    action="{{ $action }}"
    method="POST"
    class="{{ $container }} space-y-6"
>

    {{ .Inner }}

    <button
        type="submit"
        class="{{ $button }}"
    >
        {{ $buttonText }}
    </button>

</form>