{{ $style := site.Params.forms.style | default dict }}

{{ $input := $style.input | default "w-full rounded-xl border border-gray-300 px-4 py-3" }}
{{ $labelStyle := $style.label | default "block text-sm font-medium mb-2 text-gray-700" }}

<div>

    <label class="{{ $labelStyle }}">
        {{ .Get "label" }}
    </label>

    <textarea
        name="{{ .Get "name" }}"
        rows="{{ .Get "rows" | default "5" }}"
        class="{{ $input }}"
        placeholder="{{ .Get "placeholder" }}"
    ></textarea>

</div>